{% extends 'base.html' %}

{% block meta %}
{% endblock meta %}

{% block content %}

<div class="row">
  <div class="col d-flex align-items-center justify-content-center">
    <div class = "m-5">

      <h1>Register</h1>

      <form method="POST" >  
        {% csrf_token %}  
        <table>  
            {{ form.as_table }}  
            <tr>
                <td></td>
                <td>Already have an account? <a href="{% url 'todolist:login' %}">Login here</a></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Register" class="btn btn-block btn-primary"></td>
            </tr>  
        </table>  
    </form>
    
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}     
    
    </div>
  </div>

  <div class="col">
    <img src="https://media.discordapp.net/attachments/999323446796353696/1027147067413504030/register-img.jpg?width=950&height=1069" class="img-fluid" alt="Responsive image">
  </div>
</div>

{% endblock content %}