{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg bg-light p-3" style="padding: 16px;" >

  <div class="container-fluid">
      <a class="navbar-brand" href="#">MyWishlist</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'todolist:show_todolist' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'todolist:create_task' %}">New Task</a>
            </li>
          </ul>
      </div>
  </div>
  
  <div class="align-item-center">
    <ul class="nav justify-content-end mx-3">
      <li class="nav-item d-flex justify-content-end">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/2048px-Circle-icons-profile.svg.png" style="max-width: 5%">
        <p class="font-weight-bold mx-2">{{username}}</p>
      </li>
    </ul>
  </div>
  

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <button type="button" class="btn btn-primary">
          <a class="text-decoration-none text-white" href="{% url 'todolist:logout' %}">Logout</a>
      </button>
    </li>
  </ul>

</nav>

<br>

{% for task in todolist %}
  <div class="card mx-5 mb-3">
    <div class="card-header">
      <div class="row ">
        <div class="col">
          {{task.date}}
        </div>
        <div class="col" align="right">
          {% if task.is_finished %} FINISHED {% else %} NOT YET {% endif %}
        </div>
      </div>
    </div>

    <div class="card-body">
      <h5 class="card-title">{{task.title}}</h5>
      <p class="card-text">{{task.description}}</p>
      <a href="{% url 'todolist:update_finished' task.id %}" class="btn btn-primary">Change Status</a>
      <a href="{% url 'todolist:delete_task' task.id %}" class="btn btn-primary">Delete Task</a>
    </div>

  </div>
{% endfor %}

{% endblock content %}